:root {
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    margin: 0px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
    font-size: calc(15 / 16 * 1rem);
}

figure {
    background-color: white;
    width: calc(320 / 15 * 1em);
    border-radius: 1em;
    box-sizing: border-box;
    padding: 1em;
    color: var(--Grayish-blue);
}

figure img{
    width: 100%;
    height: auto;
    border-radius: 0.5em;
}

figcaption {
    margin: calc(5 / 3 * 1em) 1em;
    text-align: center;
}

.slogan {
    color: var(--Dark-blue);
    font-size: 1.5em;
    margin-block: 1em;
}

 /* Attribution */
.attribution {
    margin-block: 1em;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* center content */
body {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

figure {
    margin: 0px;
}