:root {
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    margin: 0px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
    font-size: calc(15 / 16 * 1rem);
}

figure {
    margin: 0px;
    background-color: white;
    width: calc(320 / 15 * 1em);
    border-radius: 1em;
    box-sizing: border-box;
    padding: 1em;
    color: var(--Grayish-blue);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
    margin-inline: auto;
}

figure img{
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    display: block;

}

figcaption {
    margin: calc(5 / 3 * 1em) 1em;
    text-align: center;
}

.slogan {
    color: var(--Dark-blue);
    font-size: 1.5em;
    margin-block: 0.83em;
}

 /* Attribution */
.attribution {
    display: block;
    margin-block: 1em;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* center main content vertically */
body {
    height: 100vh;
    height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}
/* --------------------- */

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }